<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'envoi de fichier</title>
</head>

<body>
    <h1>Source</h1>
    <p>{{ source }}</p>

    <h1>Résultat</h1>
    <p>{{ summarized_text }}</p>
    {# {% for entity in output %}
    <pre>{{ entity.entity_group}}
    {{ entity.word}}
    {{ entity.score}}</pre>
    {% endfor %} #}

</body>

</html>